<connectionStrings>
    <add connectionString="Server=localhost;Database=ASPNETDB;Integrated Security=true" name="ApplicationServices" providerName="System.Data.SqlClient" />
    <add name="hana" connectionString="server=localhost;database=Hana;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>