<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="wp"
        connectionString="server=localhost;database=wekeroad;user id=root;password=" providerName="MySql.Data.MySqlClient"/>
        <add name="hana"
       connectionString="server=.\SQLExpress;database=Hana;Integrated Security=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>

</configuration>